<h1>lista de posts:</h1>
<h2><a href="/cad"><button>criar post</button></a></h2>
{{#each posts}}

    <small>{{createdAt}}</small>
    <h1>{{titulo}}</h1>
    <p>{{conteudo}}</p>
    <a href="/deletar/{{id}}"><button>deletar</button></a>
    <hr>

{{/each}}
